.successful,
.unsuccessful {
  background-color: lightgray;
  padding: 16px;
  margin-bottom: 8px;
  border: 4px solid;
  border-radius: 4px;
}

.successful {
  color: green;
  border-color: green;
}

.unsuccessful {
  color: red;
  border-color: red;
}
